{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quoted" method="post">
        <h1>Quote</h1>
        <table align="center" class= "table">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ name }}</td>
                <td>{{ price }}</td>
            </tr>
        </table>
        <a class="nav-link" href="/quote">Search For Another Symbol</a>
    </form>
{% endblock %}
